@model IEnumerable<Cliente>

@{
    ViewData["Title"] = "Clientes";
}


<h1>Listado de clientes</h1>



<a asp-action="Crear" class="btn btn-primary mb-3">Crear nuevo</a>

<table class="table">

    <thead>
        <tr>
            <th>Acciones</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>

    </thead>

    <tbody>
        @foreach (var client in Model)
        {
            <tr>
                <td>
                    <a class="btn btn-primary" asp-action="Editar" asp-route-id="@client.id">Editar</a>
                    <a class="btn btn-danger" asp-action="Borrar" asp-route-id="@client.id">Borrar</a>

                </td>
                <td>
                    @client.name
                </td>
                <td>
                    @client.email
                </td>
                <td>
                    @client.phone
                </td>

            </tr>
        }

    </tbody>


</table>